/////////// This file is where you put your variables ///////////

///* Some initial variables, put whatever you like *///

// Colors

$facebook: #3b5998
$twitter: #1da1f2
$instagram: #c32aa3
$linkedin: #007bb5
$dribbble: #ea4c89
$codepen: #212121
$github: #333333

// Utilities



$big_c: 9px
$small_c: 5px